[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Vv]s/
*.sln
*.suo
*.user
*.userprefs
*.csproj
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Vv]s/
*.sln
*.suo
*.user
*.userprefs
*.csproj
*.userprefs
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Vv]s/
*.sln
*.csproj
